<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!--  
    The ID of the Global Bundler Item
    If you want to have separated Bundlers to each of your websites leave this empty
    -->
    <settings>
      <setting name="Bundler.GlobalBundlerItem" value="" />
    </settings>

  </sitecore>
</configuration>