<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <!--  
      The ID of the Global Bundler Item
      If you want to have separated Bundlers to each of your websites leave this empty
      -->
      <setting name="Bundler.GlobalBundlerItem" value="" />
      
      <!--  
      Debug mode will log more information
      -->
      <setting name="Bundler.DebugMode" value="true" />      
    </settings>

  </sitecore>
</configuration>